
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="jumbotron">
  <h1 class="display-3">The Minimal Angular App</h1>
  <p class="lead">This is a hero unit, a simple component for calling extra attention to featured content.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Lets Go</a>
  </p>
</div>

<footer class="text-center">
  Copyright &copy; 2019 Stepanenco
</footer>
