
<form #form="ngForm" (submit)="onSubmit()">

  <div class="form-group">
    <input type="text" class="form-control"
      name="name" placeholder="Name"
      [(ngModel)]="newUser.name" #name="ngModel" required>

    <span class="help-block" *ngIf="name.invalid && name.touched">
      Name is required.
    </span>
  </div>

  <div class="form-group">
    <input type="text" class="form-control"
      name="username" placeholder="Username"
      [(ngModel)]="newUser.username" #username="ngModel" required>

    <span class="help-block" *ngIf="username.invalid && username.touched">
      Userame is required.
    </span>
  </div>

  <button type="submit" class="btn btn-lg btn-block btn-primary"
    [disabled]="form.invalid">
    Create User
  </button>

</form>
